.spa__pricingbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border: 1.5px solid var(--color-highlight);
    padding: 20px;
    height: 400px;  
    width: 350px;
    border-radius: 5px;
}
hr{
    width: 180px;
}
.spa__pricingbox p{
    color: var(--color-highlight);
    font-family: var(--font-normal);
    letter-spacing: 2px;
    font-size: 14px;   
}

.spa__pricingbox h3{
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 400;
}

.spa__pricingbox h1{
    font-family: var(--font-family);
    font-size: 36px;
    font-weight: 500;
}

.spa__pricingbox-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-overflow: hidden;
    gap: 7px;
}

li{
    list-style-type: none;
}

.spa__pricingbox li{
    text-decoration: none;
    overflow-x: hidden;
    font-family: var(--font-normal);
    font-size: 14px;
}

.spa__pricingbox .button p{
    color: var(--color-white);
}

.spa__pricingbox .button:hover p{
    color: var(--color-highlight);
}


.spa__pricingbox:nth-child(even) {
    height: 450px;
}

@media  screen and (max-width: 400px){
    .spa__pricingbox{
        width: 300px;
    }
}